.titulo span{
    color: #8B008B;
}

.nav-link{
    color: #272121 ;

}

.imagen-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.categorias h2{
    color: #A52A2A;
    font-size: 1rem;
}

.categorias a{
    color: #272121;
    text-decoration: none;
}

.categorias a{
    color: #272121;
    text-decoration: none;
}

}

.categorias a{
    color: #272121;
    text-decoration: none;
}









